@font-face{
    font-family: bttf;
    src: url(../fonts/BTTF.ttf);
}

body{
    margin: 0;
    color: white;
    background-image: url("https://newcinema.es/imagenes/2012/06/walpaper-regreso-al-futuro-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

img {
    margin: 10px;
}

p {
    padding: 10px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: red;
}

h4 {
    text-decoration-line: underline;
}


/* Propietats per der la capçalera-titol*/
header{
    text-align: right;

    padding: 200px;
    padding-right: 100px;
}


header h1, header h2{
    text-transform: lowercase;
    font-family: "bttf";

    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.2px rgb(88, 205, 235);

    margin: 0;
}

header h1 {
    font-size: 3em;
}

nav {
    background: rgba(0, 0, 0, 0.800);
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin-bottom: 50px;
}

nav ul{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    margin: 0 3%;
}

#inici li a{
    font-family: bttf;
    text-transform: lowercase;
    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    opacity: 1;
}

#inici li a:hover {
    -webkit-text-stroke: 0.5px rgb(88, 205, 235);
}





/* Propietat per fer de l'aside un menu lateral*/
aside {
    transition: 1S;

    position: fixed;
    top: 50px;

    height: 60px;

    overflow: hidden;

    padding: 10px;

    text-align: left;

    box-shadow: 3px 3px 10px grey;
    background: BLACK;
    opacity: 0.3;


    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    z-index: 5;

    display: inline-block;
}

aside:hover {
    opacity: 0.7;
    height: auto;
}

aside:hover > ul {
    position: relative;
    display: block;
}

aside:hover > div {
    -webkit-text-stroke: 0.5px rgb(88, 205, 235);
}

aside div {
    position: relative;
    font-family: bttf;
    font-size: 1.2em;
    text-align: center;
    text-transform: lowercase;
    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    color: transparent;
    padding: 0;
    margin: 0;
    
}

aside ul li ul {

    font-style: italic;
    font-size: 75%;
}

aside > ul {
    position: relative;
    padding: 0;
    text-transform: uppercase;
}

aside ul li {
    padding: 5px;
}

aside ul li:hover > ul {
    display: block;
    opacity: 1;
}







/* Dimensionem els articles de la pagina*/
article {
    color: white;
}
section {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 70%;
    background: rgba(0, 0, 0, 0.900);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
}

section footer img {
    clear: right;
    float: right;
}

/* Donem format als articles i titols*/
.titol_seccio {
    font-family: bttf;
    text-transform: lowercase;
    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    color: transparent;
}

#argument {
    overflow: hidden;
}
#argument img {
    clear: both;
    float: right;
}

#trailer > div + div {
    text-align: center;
}

.descripcions_personatges {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.descripcio_personatge img {
    float: left;
    width: 50%;
}

.descripcio_personatge {
    width: 30%;
    padding: 15px;
}

.descripcio_personatge p {
    text-align: justify;
}

#Delorean {
    overflow: hidden;
}
#cotxe {
    float: left;
}

#condensador {
    float: right;
}

#Delorean div {
    clear: left;
}

#linia img {
    display: block;
    margin: 0 auto;
}

#estrenes table {
    margin: 0 auto;
}

#opinio form div {
    text-align: center;
}

#opinio form div {
    margin: 10px;
}

#externes {
    text-align: center;
}

#externes div:first-child {
    text-align: left;
}








footer {
    text-align: right;
}





