@font-face{
    font-family: bttf;
    src: url(../fonts/BTTF.ttf);
}

.format-visible {
    text-transform: lowercase;
    font-family: "bttf";

    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    color: transparent;

}

li .format-visible:hover {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 0.3px rgb(88, 205, 235);
}

.columna-blava {
    background: blue;
    text-align: center;
}

.columna-groga {
    background: yellow;
    text-align: center;
}

.text-blanc {
    color: white;
}
